{{ define "main" }}
  <div class="hx:mx-auto hx:flex hextra-max-page-width">
    {{ partial "sidebar.html" (dict "context" . "disableSidebar" true "displayPlaceholder" true) }}
    <article class="hx:w-full hx:break-words hx:flex hx:min-h-[calc(100vh-var(--navbar-height))] hx:min-w-0 hx:justify-center hx:pb-8 hx:pr-[calc(env(safe-area-inset-right)-1.5rem)]">
      <main id="content" class="hx:w-full hx:min-w-0 hextra-max-content-width hx:px-6 hx:pt-8 hx:md:px-12">
        {{- with .Content }}<div class="content hx:mb-8">{{ . }}</div>{{ end -}}

        {{- $blog := site.GetPage "/blog" -}}
        {{- with $blog -}}
          {{- $pages := partial "utils/sort-pages" (dict "page" . "by" site.Params.blog.list.sortBy "order" site.Params.blog.list.sortOrder) -}}
          {{- range $pages.GroupByDate "2006" }}
            <h2 class="hx:mt-10 hx:mb-4 hx:text-xl hx:font-semibold hx:text-slate-900 hx:dark:text-slate-100 hx:border-b hx:border-gray-200 hx:dark:border-neutral-800 hx:pb-2">
              {{ .Key }}
            </h2>
            {{- range .Pages }}
              <div class="hx:flex hx:items-baseline hx:gap-4 hx:py-2">
                <time class="hx:opacity-50 hx:text-sm hx:shrink-0 hx:w-16 hx:tabular-nums">{{ .Date.Format "02/01" }}</time>
                <div class="hx:min-w-0">
                  <a style="color: inherit; text-decoration: none;" class="hx:font-medium hx:hover:underline hx:underline-offset-2" href="{{ .RelPermalink }}">{{ .Title }}</a>
                  {{- if site.Params.blog.list.displayTags }}
                    <span class="hx:text-sm hx:ml-2">{{ partial "tags.html" (dict "context" .) }}</span>
                  {{- end }}
                </div>
              </div>
            {{- end }}
          {{- end -}}
        {{- end -}}
      </main>
    </article>
    <div class="hx:max-xl:hidden hx:h-0 hx:w-64 hx:shrink-0"></div>
  </div>
{{ end }}
